@import 'src/styles/variables';

.circle {
  color: $primary-color;

  &:hover::after {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    border-radius: 100%;
    border: 1.5px solid $hover-color;
    width: 8px;
    height: 8px;
    content: "";
    transform: translate(-50%, -50%);
  }

  &:focus::after {
    border: 1.5px solid $focus-color;
    background: $focus-color;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    content: "";
    transform: translate(-50%, -50%);
  }
}

.focused {
  &::after {
    border: 1.5px solid $focus-color;
    background: $focus-color;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    border-radius: 100%;
    width: 8px;
    height: 8px;
    content: "";
    transform: translate(-50%, -50%);
  }
}

.radio-button {
  color: $primary-color;

  &:hover {
    background-color: transparent;
  }

  input:disabled~& {
    color: $disabled-color;
  }
}

.checked-icon {
  color: $primary-color;
  background-color: transparent;

  input:hover~& {
    background-color: transparent;
  }

  input:disabled~& {
    color: $disabled-color;
  }
}
